/* FONTS */

@font-face {
  font-family: 'Bungee';
  src: url('../fonts/Bungee/Bungee-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Open Sans Black';
  src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}

/* end-fonts*/

/* reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background: #fc0 no-repeat fixed center;
  background-size: cover; 
  font-family: 'Open Sans Light', cursive;
  font-size: 24px;
  line-height: 36px;
  width: 100%;
  margin: 0 auto; 
  overflow: hidden;
}

h1 {
  position: absolute;
  bottom: 0px;
  background-color: white;
  text-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 36px;
}

div#all_games {
  width: 100%;
  height: 550px;
  /*background-color: red;*/
  margin-top:0;
}

/* GAME */

div.game {
  position: absolute;
  width: 900px;
  height: 550px;
  margin: 0px auto;
  left: 62px;
  /*background-color: rgba(255, 255, 255, 0.7);*/
}

div.game h2.game_name {
  position: absolute;
  left: 486px;
  top: 45px;
  width: 390px;
  font-size: 54px;
  font-family: 'Open Sans Black', cursive;
  line-height: 54px;
}

div.game p.game_info {
    position: absolute;
    left: 420px;
    top: 216px;
    width: 440px;
    padding: 12px 0px 12px 75px;
    background-color: #fff;
    z-index: -1;
    border:solid black 2px;
    border-width:0px 7px 7px 0px;
    z-index: 5;
}

div.game p.start {
  position: absolute;
  bottom: 75px;
  left: 420px;
  display: block;
  background-color: black;
  color: white;
  font-size: 36px;
  text-transform: lowercase;
  font-family: 'Open Sans Black', cursive;
  text-align: center;
  /*border-radius: 6px;*/
  width: 140px;
  padding: 6px 4px 14px 40px;
  cursor: pointer; 
  border: none;
  border:solid white 2px;
  border-width:0px 7px 7px 0px;
  z-index: 5;
}

div.game img.game_cover {
  position: absolute;
  top:37.5px;
  width: 450px;
  border: solid black 3px;
  border-width: 0px 20px 20px 0px;
  z-index: 10;
}

div#loading {
  background-color: black;
  position: absolute;
  top:0;
  left:0;
  font-size: 48px;
  text-align: center;
  width: 1200px;
  height: 636px;
  color: white;
  line-height: 636px;
  display: none;
}

div#loading p {
  display: block;
}